<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{%static 'css/style.css' %}">
</head>
<body>
    <h1>Bienvenidos.</h1>
    <div>
        <div>
            <a href="product1/"><img src="{%static 'images/zelda1.jpg'%}" alt="Link1"></a>
        </div>
        <div>
            <a href="product2/"><img src="{%static 'images/zelda2.webp'%}" alt="Link2"></a>
        </div>
        <div>
            <a href="product3/"><img src="{%static 'images/zelda3.jpg'%}" alt="Link3"></a>
        </div>
    </div>
</body>
</html>